
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/montserrat-regular.woff") format("woff")
}


body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	background: grey;
	color: white;
}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 10px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul li a {
	color: white;
	text-decoration:none;
}

section {
	margin:auto;
	text-align: center;
   }

section h3 {

  position: absolute;
  left: 0;

}

@-webkit-keyframes MyAnimation {
  0% { left: 450px; }	
  50% { left: 1200px; }	
  100% { left: 300px; }
  	}	
 

 @-moz-keyframes MyAnimation {
   0% { left: 450px; }	
  50% { left: 1200px; }	
  100% { left: 300px; }
  	}	

  @-ms-keyframes MyAnimation {
  0% { left: 450px; }	
  50% { left: 1200px; }	
  100% { left: 300px; }
  	}	

  @-o-keyframes MyAnimation {
  0% { left: 450px; }	
  50% { left: 1200px; }	
  100% { left: 300px; }
  	}	

section h3 {
  -webkit-animation: MyAnimation 3s infinite; 
          animation: MyAnimation 3s infinite;
}

section h2 {
	-ms-transform: scale(2,2); 
	-moz-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    -o-transform: scale(2,2); 
    transform: scale(2,2);
}




 section img {
	padding:40px;
	opacity: 1;
	transition: all 1s linear;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}

section img:hover{
	opacity: 0;
	padding-bottom: 90px;
	border: 50px black solid;
}


nav ul li:hover {
	font-size: 70px;
}

header h1:hover {
	font-size: 100px;
}



 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 }

